
<style>
  .yacht_name{
      color: #ffffff;
      font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
      font-size: 20px;

  }

  .mosaic-overlay{
  }

  .mosaic-block {
      float:none;
      position: relative;
      overflow: hidden;
      margin: 10px;
      width: auto;
      border: 1px solid #FFF;
  }

  .align_left{
      text-align: center;
  }
</style>

<script type="text/javascript">
    $(document).ready(function($){
        $('.bar2').mosaic({
            animation	:	'slide'		//fade or slide
        });

        $(".yacht_description").text(function(index, text) {
            var i = text.indexOf(" ", 350);
            if(i != -1){
                return text.substr(0, i+1)+"...";
            }
            return text
        });
    });
</script>

<div class="row" id="my-yachts">
        <%= render @yachts %>
</div>

<div id="infinite-scrolling" style="text-align: center;">
  <%= will_paginate %>
</div>