
<style>
  .yacht_name{
      color: #ffffff;
      font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
      font-size: 20px;

  }

  .mosaic-overlay{
  }

  .mosaic-block {
      float:none;
      position: relative;
      overflow: hidden;
      margin: 10px;
      width: auto;
      border: 1px solid #FFF;
  }
</style>

<script>
    $(function() {
        $( "#button" ).click(function(){
            $( "#yacht-" ).switchClass( "col-sm-6", "col-sm-12", 1000 );
            return false;
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function($){
        $('.bar2').mosaic({
            animation	:	'slide'		//fade or slide
        });
    });
</script>

<a href="#" id="button" class="ui-state-default ui-corner-all">Run Effect</a>



<div class="row" id="my-yachts">
        <%= render @yachts %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>